@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  overflow-x: hidden;
}

::-webkit-scrollbar{
  display: none;
}

body{
  background-color: #D9D9D9;
}

.iPdEuf {
  justify-content: end !important;
}
